{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


}

<div class = "containerCenter">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Schedule Advisor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/polls">Polls <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/polls/comments/list">Comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/polls/comments/">Create Comment</a>
          </li>
      </ul>
    </div>
  </nav>

  {% block content %}
  #https://www.youtube.com/watch?v=rjxpL89BEX4
  {% endblock %}

  <hr>
  <p class = "footer">Footer:</p>