<!DOCTYPE html>
<!--Inspiration: https://codepen.io/alvarotrigo/pen/KKQzvdr -->
<html>
  {% extends 'myapp/base.html'%}
  {% load static %}
  

  {% block content %}
  {% block cal_css %}
  <link rel="stylesheet" href="{% static 'myapp/calendar_style.css' %}">
  {% endblock %}
  <body class = "bannerWhiteGradient">
  <table style="width:100%">
    {% for day in week %}
      {% for courses in day %}
      <tr>
        <td>{{courses.course_days_of_week}} </td>
      </tr>
        <tr>
            <td>{{courses.course_subject}} </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
    <div id ="SignedInScreenInnerContainer" class = "container">
    <h1>Calendar</h1>
    <div class="calendar">
      <div class="timeline">
        <div class="spacer"></div>
        <!-- dont delete this comment <div class="time-marker">8 AM</div> -->
        <div>8 AM</div>
        <div>9 AM</div>
        <div>10 AM</div>
        <div>11 AM</div>
        <div>12 PM</div>
        <div>1 PM</div>
        <div>2 PM</div>
        <div>3 PM</div>
        <div>4 PM</div>
        <div>5 PM</div>
        <div>6 PM</div>
        <div>7 PM</div>
        <div>8 PM</div>
      </div>
      <div class="days">
        <div class="day mon">
          <div class="date">
            <p class="date-day">MON</p>
          </div>
          <div class="events">
            <div class="event start-2_00 end-5_00 class1">
              <p class="title">Class 1</p>
              <p class="time">2 PM - 5 PM</p>
            </div>
          </div>
        </div>
        <div class="day tues">
          <div class="date">
            <p class="date-day">TUE</p>
          </div>
          <div class="events">
            <div class="event start-10_00 end-12_00 class2">
              <p class="title">Class 2</p>
              <p class="time">10 AM - 12 PM</p>
            </div>
            <div class="event start-1_00 end-4_00 class3">
              <p class="title">Class 3</p>
              <p class="time">1PM - 4PM</p>
            </div>
          </div>
        </div>
        <div class="day wed">
          <div class="date">
            <p class="date-day">WED</p>
          </div>
          <div class="events">
            <div class="event start-11_00 end-12_00 class4">
              <p class="title">Class 4</p>
              <p class="time">11 AM - 12 PM</p>
            </div>
            <div class="event start-2_00 end-5_00 class1">
              <p class="title">Class 1</p>
              <p class="time">2 PM - 5 PM</p>
            </div>
          </div>
        </div>
        <div class="day thurs">
          <div class="date">
            <p class="date-day">THU</p>
          </div>
          <div class="events">
            <div class="event start-10_00 end-12_00 class2">
              <p class="title">Class 2</p>
              <p class="time">10 AM - 12 PM</p>
            </div>
            <div class="event start-1_00 end-4_00 class3">
              <p class="title">Class 3</p>
              <p class="time">1PM - 4PM</p>
            </div>
          </div>
        </div>
        <div class="day fri">
          <div class="date">
            <p class="date-day">FRI</p>
          </div>
          <div class="events">
          </div>
        </div>
      </div>
    </div>
  </body>

  {% endblock %}
</html>