<title>Browse Courses</title>
{% extends 'myapp/base.html'%}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'myapp/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src = "{% static 'myapp/courses.js' %}"> </script>
<link rel="icon" href="{% static 'myapp/University_of_Virginia_Rotunda_logo.svg' %}">
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<body class = "bannerWhiteGradient">
  <div id ="SignedInScreenInnerContainer" class = "container">
    <br>
    <center>
    <h1 id="">Browse Classes</h1>
    <hr>
      <form action="{% url 'api_data' %}" method="get">
          {% csrf_token %}
      <select name="classes" id="classes">
        <option value=""> Department </option>
        <option value="AAS">African-American and African Studies</option>
        <option value="AIRS">Air Science</option>
        <option value="ASL">American Sign Language</option>
        <option value="AMST">American Studies</option>
        <option value="ANTH">Anthropology</option>
        <option value="APMA">Applied Mathematics</option>
        <option value="ALAR">Arch &amp; Landscape Arch</option>
        <option value="ARH">Architectural History</option>
        <option value="ARCHDP">Architecture Department</option>
        <option value="ART">Art</option>
        <option value="ASTR">Astronomy</option>
        <option value="BIOC">Biochem &amp; Molecular Genetics</option>
        <option value="BIOL">Biology</option>
        <option value="BME">Biomedical Engineering</option>
        <option value="BIMS">Biomedical Sciences</option>
        <option value="BIOP">Biophysics</option>
        <option value="CELL">Cell Biology</option>
        <option value="CHE">Chemical Engineering</option>
        <option value="CHEM">Chemistry</option>
        <option value="CLAS">Classics</option>
        <option value="COGS">Cognitive Science</option>
        <option value="CGAS">College &amp; Graduate Arts &amp; Sci</option>
        <option value="CS">Computer Science</option>
        <option value="EDIS">Curriculum Inst &amp; Special Ed</option>
        <option value="ENGRD">Dean Engineering &amp; Applied Sci</option>
        <option value="ARCHD">Dean of Architecture</option>
        <option value="CGASD">Dean of Arts &amp; Sciences</option>
        <option value="COMMD">Dean of Commerce</option>
        <option value="SCPSD">Dean of Continuing &amp; Prof Stds.</option>
        <option value="DATAD">Dean of Data Science</option>
        <option value="EDUCD">Dean of Education</option>
        <option value="GBUSD">Dean of Graduate Business</option>
        <option value="LAWD">Dean of Law</option>
        <option value="MEDD">Dean of Medicine</option>
        <option value="NURSD">Dean of Nursing</option>
        <option value="DRAM">Drama</option>
        <option value="EALC">East Asian Lang, Lit, &amp; Culture</option>
        <option value="ECON">Economics</option>
        <option value="ECE">Electrical &amp; Computer Engr</option>
        <option value="STS">Engineering &amp; Society</option>
        <option value="ENGL">English</option>
        <option value="ESL">English as a Second Language</option>
        <option value="EVSC">Environmental Sciences</option>
        <option value="ETP">Environmental Thought and Practice</option>
        <option value="PROVD">Executive VP &amp; Provost</option>
        <option value="FREN">French</option>
        <option value="GERM">German</option>
        <option value="HIST">History</option>
        <option value="EDHS">Human Services</option>
        <option value="IMP">Interdisciplinary Major</option>
        <option value="IDST">Interdisciplinary Studies</option>
        <option value="JWST">Jewish Studies</option>
        <option value="EDKI">Kinesiology</option>
        <option value="LAR">Landscape Architecture</option>
        <option value="EDLF">Leadership, Foundations, &amp; Pol</option>
        <option value="MSE">Materials Science &amp; Engr</option>
        <option value="MATH">Mathematics</option>
        <option value="MCDG">McIntire Darden Grad Business</option>
        <option value="MAE">Mechanical &amp; Aerospace Engr</option>
        <option value="MDST">Media Studies</option>
        <option value="MICR">Microbiol, Immun, &amp; Cancer Biol</option>
        <option value="MESA">Middle Eastern &amp; South Asian</option>
        <option value="MISC">Military Science</option>
        <option value="MUSI">Music</option>
        <option value="NASC">Naval Science</option>
        <option value="NESC">Neuroscience</option>
        <option value="PATH">Pathology</option>
        <option value="PHAR">Pharmacology</option>
        <option value="PHIL">Philosophy</option>
        <option value="PHYS">Physics</option>
        <option value="PHY">Physiology</option>
        <option value="PST">Political &amp; Social Thought</option>
        <option value="POLT">Politics</option>
        <option value="PSYC">Psychology</option>
        <option value="PHS">Public Health Services</option>
        <option value="PPOL">Public Policy</option>
        <option value="RELG">Religious Studies</option>
        <option value="SLLT">Slavic</option>
        <option value="SOC">Sociology</option>
        <option value="SPAN">Spanich, Italian &amp; Portuguese</option>
        <option value="STAT">Statistics</option>
        <option value="PLAN">Urban &amp; Environmental Planning</option>
        <option value="SWAG">Women, Gender &amp; Sexuality</option>
          </select>
        <select id ="mnemonic">
          <option value=""> Subject </option>
        </select>
    <button type="submit">Submit</button>
  </form>
</center>
  <br>
  <table style="width:100%">
    <tr class = "title-row">
      <div class = "row"> 
        <div class = "col col-lg-3 col-md-3 col-sm-3"> 
          <th>Course Number</th>
        </div>
        <div class = "col col-lg-3 col-md-3 col-sm-3"> 
          <th>Description</th>
        </div>
        <div class = "col col-lg-3 col-md-3 col-sm-3"> 
          <th>Type and Amount of Credits</th>
        </div>
        <div class = "col col-lg-3 col-md-3 col-sm-3"> 
          <th>Time</th>
        </div>
        <div class = "col col-lg-3 col-md-3 col-sm-3"> 
          <th>Professor</th>
        </div>
        <div class = "col col-lg-3 col-md-3 col-sm-3"> 
          <th>Add Class</th>
        </div>
      </div>
    </tr>
    {% for class_object, class in content %}
    <tr class = "main-rows">
        <div class = "row"> 
            <div class = "col col-lg-3 col-md-3 col-sm-3"> 
              <td >{{class.subject}} {{class.catalog_nbr}}</td>
            </div>
            <div class = "col col-lg-3 col-md-3 col-sm-3"> 
              <td>{{class.descr}}</td>
            </div>
            <div class = "col col-lg-3 col-md-3 col-sm-3"> 
              <td>{{class.section_type}} ({{class.units}})</td>
            </div>
            <div class = "col col-lg-3 col-md-3 col-sm-3">
              {% if class_object.course_start_time != "" %}
                <td>{{class_object.course_start_time}} - {{class_object.course_end_time}}</td>
              {% else %}
              <td>TBA</td>
              {% endif %}
            </div>
            <div class = "col col-lg-3 col-md-3 col-sm-3"> 
              <td>{{class.instructors.0.name}}</td>
            </div>
        </div>
      <td>
        <form method="POST" action="{% url 'addToCart' class_object.pk%}">
          {% csrf_token %}
          <input type="hidden" name="pk" value="{{ class_object.pk }}">
          <button type="submit" class = "btn btn-primary btn-sm buttonShoppingCartandBrowseCourses">Add to Cart
            <svg xmlns="https://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
          </button>
        </form>
       
      </td>
    </tr>
    {% endfor %}
  </table>
</body>

 
  <p class = "footer"></p>
  {% endblock %}
  </html>