{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'myapp/style.css' %}">

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<header>
    <nav id = "wholeNavBar" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img id = "rontundaImage" class = "image" src ="https://upload.wikimedia.org/wikipedia/commons/d/dd/University_of_Virginia_Rotunda_logo.svg">

          <a id="navLogo" class="navbar-brand" href="/accounts/profile">Schedule Advisor</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/accounts/profile">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/profile/browse_courses">Browse Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item dropdown">
              <!-- 
                <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> 
            -->
            </ul>
            <ul class = "navbar-nav ms-5">
              {% if user.is_authenticated %}
                <form action="/accounts/logout">
                  <button class ="btn" style="background-color: #1e6db3; color: whitesmoke;">Log Out</button>
                </form>
              {% else %}
                <form action="/accounts/login">
                  <button class ="btn" style="background-color: #1e6db3; color: whitesmoke;">Log In</button>
                </form>
                  {% endif %}
            </ul>
          </div>
        </div>
      </nav>
</header>


<!-- <div class = "containerCenter">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Schedule Advisor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/polls">Polls <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/polls/comments/list">Comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/polls/comments/">Create Comment</a>
          </li>
      </ul>
    </div>
  </nav> -->
  

  <!-- {% block content %}
  #https://www.youtube.com/watch?v=rjxpL89BEX4
  {% endblock %} -->
<body>
    <form action="{% url 'api_data' %}" method="get">
        {% csrf_token %}
    <select name="classes" id="classes">
        <option value="AAS">African-American and African Studies</option>
        <option value="ACCT">Accounting</option>
        <option value="AIRS">Air Science</option>
        <option value="ALAR">Architecture and Landscape Architecture</option>
        <option value="AMST">American Studies</option>
        <option value="ANTH">Anthropology</option>
        <option value="APMA">Applied Mathematics</option>
        <option value="ARAB">Arabic</option>
        <option value="ARAD">Arts Administration</option>
        <option value="ARAH">History of Art and Architecture</option>
        <option value="ARCH">Architecture</option>
        <option value="ARCY">Archaeology</option>
        <option value="ARH">Architectural History</option>
        <option value="ARTH">History of Art</option>
        <option value="ARTR">Arabic in Translation</option>
        <option value="ARTS">Studio Art</option>
        <option value="ASL">American Sign Language</option>
        <option value="ASTR">Astronomy</option>
        <option value="BIMS">Biomedical Sciences</option>
        <option value="BIOC">Biochemistry</option>
        <option value="BIOL">Biology</option>
        <option value="BIOP">Biophysics</option>
        <option value="BME">Biomedical Engineering</option>
        <option value="BUS">Business</option>
        <option value="CASS">College Art Scholars Seminar</option>
        <option value="CE">Civil Engineering</option>
        <option value="CELL">Cell Biology</option>
        <option value="CHE">Chemical Engineering</option>
        <option value="CHEM">Chemistry</option>
        <option value="CHIN">Chinese</option>
        <option value="CHTR">Chinese in Translation</option>
        <option value="CLAS">Classics</option>
        <option value="COGS">Cognitive Science</option>
        <option value="COMM">Commerce</option>
        <option value="CONC">Commerce Non-Credit</option>
        <option value="CPE">Computer Engineering</option>
        <option value="CREO">Creole</option>
        <option value="CS">Computer Science</option>
        <option value="DANC">Dance</option>
        <option value="DEM">Democracy Initiative</option>
        </select>
    <button type="submit">Submit</button>
  </form>
  <table style="width:100%">
    <tr>
      <th>Course Number</th>
      <th>Description</th>
      <th>Type and Amount of Credits</th>
      <th>Professor</th>
    </tr>
    {% for class in classes %}
    <tr>
      <td>{{class.subject}} {{class.catalog_nbr}}</td>
      <td>{{class.descr}}</td>
      <td>{{class.section_type}} ({{class.units}})</td>
      <td>{{class.instructors.0.name}}</td>
    </tr>
    {% endfor %}
  </table>
</body>
        <!-- <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option> -->
    <!-- <table>
        <tbody>
            <tr>
                <td><a href="page.php?Semester=1238&Type=GroupGroup=APMA">Applied Mathematics</a></td>
                <td><a href="page.php?Semester=1238Type=GroupGroup=ECE">Electrical & Computer Engineering</a></td>
            </tr>
            <tr>
                <td><a href="page.php?Semester=1238Type=GroupGroup=BME">Biomedical Engineering</a></td>
                <td><a href="page.php?Semester=1238Type=GroupGroup=MSE">Materials Science  Engineering</a></td>
            </tr>
            <tr>
                <td><a href="page.php?Semester=1238Type=GroupGroup=CHE">Chemical Engineering</a></td>
                <td><a href="page.php?Semester=1238Type=GroupGroup=MAE">Mechanical & Aerospace Engineering</a></td>
            </tr>
            <tr>
                <td><a href="page.php?Semester=1238Type=GroupGroup=CEE">Civil & Environmental Engineering</a></td>
                <td><a href="page.php?Semester=1238Type=GroupGroup=STS">Science, Technology  Society</a></td>
            </tr>
            <tr>
                <td><a href="page.php?Semester=1238Type=GroupGroup=CompSci">Computer Science</a></td>
                <td><a href="page.php?Semester=1238Type=GroupGroup=SYS">Systems & Information Engineering</a></td>
            </tr>
            <tr>
                <td><a href="page.php?Semester=1238Type=GroupGroup=ENGR">Cross-Disciplinary Courses</a></td>
                <td>&nbsp;</td>
            </tr>
      </tbody>
    </table> -->

 
  <p class = "footer"></p>
  </html>