{% extends 'myapp/base.html'%}

{% block content %}

{% load static%}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

  <body class = "bannerWhiteGradient">
    <div id ="SignedInScreenInnerContainer" class = "container">
      {% if user.is_superuser %}
        <h1 id = "welcomeMessageHeader">Welcome Instructor: {{user.get_username}}</h1>
      {% else %}
        <h1 id = "welcomeMessageHeader">Welcome Student: {{user.first_name}} {{user.last_name}} ({{user.get_username}})</h1>
      {% endif %}
      <br>
      <div class = "container">
      <h3> What do you want to do today {{user.get_username}}?</h3>
        <br>
        <div class = "container"> 
          <h6> Want to Browse Classes? Click Below</h6>
          <br>
          <a href="browse_courses"><button class = "btn btn-primary btn-lg"> Browse Classes </button></a>
          <br>
          <br>
          <br>
          <h6> Want to Check Shopping Cart? Click Below</h6>
          <br>
          <a href="shopping_cart"><button class = "btn btn-primary btn-lg"> Go to Shopping Cart </button></a>
          <br>
          <br>
          <br>
          <h6> Want to Check Your Calendar? Click Below</h6>
          <br>
          <a href="calendar"><button class = "btn btn-primary btn-lg"> Go to Calendar </button></a>
        </div>
      </div>
    </div>
  </body>


{% endblock %}