{% extends 'myapp/base.html'%}

{% block content %}

{% load static%}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@200&family=Roboto:ital,wght@1,300&family=Sacramento&display=swap">
  <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
  <script src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
  <style>
    *{
      font-family: 'Montserrat';
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Hw3aXpsog.woff2) format('woff2');
    }
    h1,h2,h3,h4,h5,h6,button{
      font-weight: bolder !important;
    }
  </style>
</head>
  <body class = "bannerWhiteGradient" style = "text-align: center;">
    <div id ="SignedInScreenInnerContainer" class = "container">
      {% if user.is_superuser %}
        <h1 id = "welcomeMessageHeader">Welcome Instructor: {{user.get_username}}</h1>
      {% else %}
        <h1 id = "welcomeMessageHeader">Welcome Student: {{user.first_name}} {{user.last_name}}</h1>
      {% endif %}
      <br>
      <!-- {% if usersSchedule is None %}
      <h4 style="font-weight: bold;">Status: Schedule Not Submitted <i class="fa-light fa-memo-circle-check" style="color: #07cf1f;"></i></h4>
      {% elif usersSchedule.isRejected%}
        <h4 style="font-weight: bold;">Status: Rejected By Advisor <i class="fa-regular fa-circle-xmark" style="color: #ec1349;"></i></h4>
      {% elif usersSchedule.status %}
        <h4 style="font-weight: bold;">Status: Approved By Advisor <i class="fa-solid fa-square-check" style="color: #46b458;"></i></h4>
      {% else %}
        <h4 style="font-weight: bold;">Status: Pending(Waiting On Advisor)<i class="fa-regular fa-hourglass" style="color: #e0d900;"></i></h4>
      {% endif %} -->
      <div class = "container">
      <h3> What do you want to do today {{user.first_name}}?</h3>
      <br>

      {% if usersSchedule is None %}
      {% elif usersSchedule.isRejected%}
        <h4 style="font-weight: bold;">Schedule Status: Rejected By Advisor <i class="fa-regular fa-circle-xmark" style="color: #ec1349;"></i></h4>
      {% elif usersSchedule.status %}
        <h4 style="font-weight: bold;">Schedule Status: Approved By Advisor <i class="fa-solid fa-square-check" style="color: #46b458;"></i></h4>
        {% else %}
        <h4 style="font-weight: bold;">Schedule Status: Pending(Waiting On Advisor)<i class="fa-regular fa-hourglass" style="color: #e0d900;"></i></h4>
      {% endif %}

        <br>
        <div class = "container"> 
          <div style = "border: 2px solid black;">
            <h6 style = "font-size:20px;margin-top: 15px;"> Want to Browse Courses? Click Below</h6>
            <br>
            <a href="browse_courses"><button class = "btn btn-primary btn-lg" style = "margin-bottom: 15px;"> Browse Courses </button></a>
          </div>
          <br>
          <br>
          <br>
          <div style = "border: 2px solid black;">
            <h6 style = "font-size:20px; margin-top: 15px"> Want to Check Shopping Cart? Click Below</h6>
            <br>
            <a href="shopping_cart"><button class = "btn btn-primary btn-lg" style = "margin-bottom: 15px;"> Go to Shopping Cart </button></a>
          </div>
          <br>
          <br>
          <br>
          <div style = "border: 2px solid black;">
            <h6 style = "font-size:20px;margin-top: 15px;"> Want to Check Your Calendar? Click Below</h6>
            <br>
            <a href="calendar"><button class = "btn btn-primary btn-lg" style = "margin-bottom: 15px;"> Go to Calendar </button></a>
          </div>
        </div>
      </div>
    </div>
  </body>

{% endblock %}